body {
}

header.jumbotron {
    background: url("../img/header-bg.jpg?v=20180810") center 0 no-repeat;
    background-size: cover;
}
h1, h2, h4{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #0958e6;
}
header h1, header h2{
  position: relative;
  letter-spacing: 3px;
  opacity: 0.9;
  text-transform: none;
  top: 320px;
}
header h1 {
  font-size: 120px;
  color: #fff;
}
header h2 {
  font-size: 40px;
}
@media (max-width: 767px){
  header.jumbotron {
    height: 250px;
    background: url("../img/header-bg.jpg?v=20180810") center 0 no-repeat;
    background-size: cover;
    margin-top: 60px;
  }
  header h1, header h2{
    top: 50px;
    position: relative;
    letter-spacing: 3px;
    opacity: 0.9;
    text-transform: none;
  }
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 20px;
  }
}
.social-buttons-top {
  padding-top: 320px;
}
@media (max-width: 767px){
  .social-buttons-top {
    padding-top: 55px;
  }
}
.social-buttons-top .fa {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px 2px;
  height: 65px;
  width: 65px;
  background: #0958e6;
}
@media (max-width: 767px){
  .social-buttons-top .fa {
    margin: 10px 0px;
    height: 55px;
    width: 55px;
  }
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-youtube-play {
  color: white;
}

.fa-instagram {
  color: white;
}
section {
  padding: 50px 0;
}
iframe {
	margin: auto !important;
}

#mainNav.navbar-shrink {
    background-color: #fff;
}
#mainNav .navbar-toggler {
    background-color: #0958e6
}
#mainNav .navbar-nav .nav-item .nav-link{
    color: #0958e6
}
